canvas {
   display: block;
   margin: 0 auto;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.modal {
   width: 500px;
   height: 300px;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: red;

}
.button{
    width: 50px;
    height: 30px;
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
}

.btn{
    display: none;
}

.restart {

}

.restartText {
   
}